body {
    margin: 0px;
    background: #101D16;
    color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border-spacing: 0px;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #888;
}

.SkillCol {
    margin-right: 16px;
}

.RecipeTitle {
    color: #D0C800;
}

.Orange {
    color: #E06040;
}

.Yellow {
    color: #F0D800;
}

.Green {
    color: #40D020;
}

.Grey {
    color: #888888;
}

.RecipeWeight {
    color: #A0A0A8;
}